<header id="site-header">
  <div class="container">
    <div [ngClass]="{'is-user': user, 'is-anon': anon}" class="header-content container">

      <div class="logo">
        <ul>
          <li>
            <img src="https://openclipart.org/image/2400px/svg_to_png/183653/cherrybomb.png" alt="logo" width="20" height="13">
          </li>
          <li>
            <span>KATA BOOM</span>
          </li>
        </ul>

      </div>

      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>

      <div *ngIf="!loading && user">
        <ul>
          <li>
            <a [routerLink]="['/']">HOME</a>
          </li>
          <li>
            <a [routerLink]="['/profile']">PROFILE</a>
          </li>
          <li>
            <a (click)="logout()">LOG OUT</a>
          </li>
        </ul>
      </div>

      <div *ngIf="!loading && anon">
        <ul>
          <li>
            <a [routerLink]="['/']">HOME</a>
          </li>
          <li>
            <a [routerLink]="['/login']">LOG IN</a>
          </li>
          <li>
            <a [routerLink]="['/signup']">SIGN UP</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</header>

<div id="site-main" class="container">
  <router-outlet></router-outlet>
</div>

<footer id="site-footer">
  <div class="container center">
    <p>2018 Montserrat Badia</p>
  </div>
</footer>
<div class="mobile-forbidden"></div>