<div id="friend-page">

  <div *ngIf="friend">

    <div class="top-part">
      <div class="friend-profile-content">
        <div class="avatar">
          <img src="{{friend.avatar}}" alt="friend avatar" width="100" height="106">
        </div>
        <div class="profile-info">
          <h3 class="capitalize">{{friend.username}}</h3>
          <h4>Katas: 31</h4>
          <h4>Followers: 200</h4>
          <h4>Following: 578</h4>
          <h4>GitHub: MasterOfTheMasters</h4>
        </div>
      </div>
    </div>

    <div class="bottom-part">
      <div class="friend-katas">
        <h3>Katas:</h3>
        <div *ngIf="friend.katas">
          <div *ngFor="let item of friend.katas">
            <app-kata-card [kata]="item" [userId]="friend._id"></app-kata-card>
          </div>
        </div>

        <div *ngIf="!friend.katas.length">
          <p>{{friend.username}} hasn't done any Kata yet!</p>
        </div>

        <div *ngIf="!friend && error" class="validation">
          <div [ngSwitch]="error.code">
            <p *ngSwitchDefault>an unexpected error occured, please try again</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>