<div id="search-friends-page">
  <div *ngIf="user" class="search-friends-container">

    <div class="avatar">
      <img src="{{user.avatar}}" alt="friend avatar" width="150" height="150">
    </div>

    <h3 class="capitalize">{{user.username}}</h3>

    <div class="friend-info">
      <h4>Katas: 48</h4>
      <h4>Followers: 71</h4>
      <h4>Following: 32</h4>
      <h4>GitHub: captainJ</h4>
    </div>

    <div class="btn-container">
      <button (click)="addFriend(user)">Add Friend</button>
    </div>

    <div *ngIf="error" class="validation">
      <div [ngSwitch]="error.code">
        <p *ngSwitchCase="'friend-already-exists'">{{user.username}} is already your friend</p>
        <p *ngSwitchDefault>an unexpected error occured, please try again</p>
      </div>
    </div>

    <div class="profile-link">
      <a [routerLink]='["/profile"]'>Back To Profile</a>
    </div>

  </div>
</div>