
/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  /* ---- typography ---- */
  
  body {
    background-color: rgb(48,49,51);
    font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
    font-size: 14px;
    line-height: 140%;
    font-weight: lighter;
  }
  
  h1 {}
  
  h2 {}
  
  h3 {}

  h4 {
    font-weight: lighter;
    font-size: 11.5px;
    letter-spacing: 0.1vw;
    margin: 0;
  }
  
  p {
    letter-spacing: 0.1vw;
  }

  a {
    text-decoration: none;
    color: silver;
  }

  /* ---- general layout ---- */

  .container {
    margin: 0 10px;;
  }

  p {
    margin-bottom: 16px;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }

  a:hover {
    text-decoration: none;
    opacity: .7;
  }

  .center {
    text-align: center;
  }

  .capitalize {
    text-transform: capitalize;   
  }

  .hide {
    display: none;
  }

  .d-flex {
    display: flex;
    align-items: center;
  }

  .disabled {
    opacity: 0.3;
  }
  
  
  /* ---- header ---- */

  #site-header {
    color: silver;
    background-color: rgb(29, 29, 31);
    border-bottom:20px solid rgb(50,50,50);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  #site-header .header-content {
    display: flex;
    justify-content: space-between;
  }

  #site-header li {
    display: inline-block;
    margin-left: 20px;
  }

  /* #site-header a {
    color: silver;
  } */

  #site-header .logo li {
    margin-right: 5px;
    margin-left: 0;
  }

  /* ---- footer ---- */

  #site-footer {
    color: silver;
    padding: 10px;
    background-color: rgb(29, 29, 31);
    border-top:20px solid rgb(50,50,50);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
  }

  #site-footer p {
    margin: 0;
  }

  /* ---- layout ---- */
  
  #site-main {
    margin-bottom: 60px;
  }






  


  






  

  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  @media (min-width: 768px) {
    .container {
      /* max-width: 100%; */
      /* margin: 0 auto; */
    }
  }


  
  /* -- forms -- */

form.is-processing {
	opacity: 0.5;
}

form .field {
	margin-bottom: 20px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-style: bold;
}

form input {
  padding: 5px;
  font-size: 16px;
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(224, 158, 193);
  cursor: pointer;
}

form .field.has-error label {
	color: red;
}

form .validation {
	margin: 5px 0 10px;
	color: red;
}

form .field.has-error input {
	border: 1px solid  red;
}
  
/* ---- components ---- */





/* pages: profile page */

#profile-page {
  display: flex;
  width: 100%;
}

#profile-page .left-side {
  width: 33.5%;    
  position: fixed;
  left: 20px;
  height: 100%;
  margin-top: 49px;
  z-index: 2;
  overflow-y: scroll;
  height: 90%;
}
  
#profile-page .right-side {
  width: 62%;
  position: fixed;
  right: 20px;
  top: 18px;
  height: 84%;
  background-color: rgb(29, 29, 31);
  color: silver;
  margin-top: 49px;
  padding: 2%;
  overflow-y: scroll;
  z-index: 2;
}

#profile-page .content-box {
  background-color: #3c3c3c;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
}

/* pages: profile page -> own profile */

#profile-page .own-profile-content {
  display: flex;
}

#profile-page .own-profile-content h3 {
  color: #c43e4c;
  font-size: 20px;
  margin-bottom: 10px;
}

#profile-page .own-profile-content .profile-info {
  margin-left: 20px;
}

#profile-page .own-profile-content .avatar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 14px;
}

/* pages: profile page -> random kata */

#profile-page .random-kata {
  background-color: rgb(54, 55, 72);
}

#profile-page .random-kata h3 {
  font-weight: lighter;
  letter-spacing: 0.1vw;
  margin: 0 0 20px;
}

/* pages: profile page -> search friends */

#profile-page .search-friends {
  background-color: rgb(54, 66, 72);
}

#profile-page .search-friends input {
  font-size: 11px;
  cursor: text;
  background-color: rgb(183, 186, 139) !important;
  transition: background-color 0.15s ease-in-out;
  width: 100%;
  padding: 10px;
  border: none;
}

#profile-page .search-friends input:hover {
  background-color: rgb(216, 218, 187) !important;
}

#profile-page .search-friends h3 {
  font-weight: lighter;
  letter-spacing: 0.1vw;
  margin: 0 0 20px;
}

/* pages: profile page -> my-friends */

#profile-page .my-friends {
  margin-bottom: 0;
}

#friend-card .friend-card-content {
  display: flex;
  color: silver;
  /* border: 1px solid rgba(192, 192, 192, 0.467); */
  background-color: #494848;
  /* border-width: thin; */
  padding: 10px;
  margin-bottom: 10px;
}

#friend-card .friend-card-content .profile-info {
  margin-left: 20px;
}

#friend-card .avatar {
  display: flex;
}

#friend-card .friend-card-content .profile-info h3 {
  margin: 0px;
  margin-bottom: 5px;
}

#friend-card .friend-card-content .profile-info a {
  text-decoration: underline;
}

/* pages: profile page -> my-katas */

#kata-card h2 {
  color: rgb(74, 114, 99);
}

#kata-card pre {
  background-color: rgb(43, 42, 42);
  padding: 10px;
}

#kata-card {
  border-bottom: 1px solid #494848;
  padding-bottom: 15px;
}

#comment-card .comment-card-content {
  display: flex;
  color: silver;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
}

#comment-card .comment-card-content .comment-info {
  margin-left: 20px;
}

#comment-card .comment-card-content .comment-info p {
  margin: 0px;
  font-size: 11.5px;
}

#comment-card .avatar {
  margin-top: 8px;
}

/* pages: kata page */

#kata-page {
  display: flex;
  width: 100%;
}

#kata-page .right-side {
  width: 62%;
  position: fixed;
  right: 20px;
  top: 18px;
  height: 84%;
  background-color: rgb(29, 29, 31);
  color: silver;
  margin-top: 49px;
  padding: 2%;
  overflow-y: scroll;
  z-index: 2;
}

#kata-page .right-side h3 {
  margin-top: 0;
}

#kata-page .left-side {
  width: 33.5%;    
  position: fixed;
  left: 20px;
  height: 100%;
  margin-top: 49px;
  z-index: 2;
  overflow-y: scroll;
  height: 90%;
}

#kata-page .content-box {
  background-color: #3c3c3c;
  padding: 20px;
  margin-bottom: 20px;
  color: #fff;
}

#kata-page p {
  margin: 0 0 5px;
  color: silver;
}

#kata-page h3 {
  margin-top: 0;
}

#kata-page a {
  text-decoration: underline;
}

.red {
  color: #c05c48;
}

.green {
  color:rgb(95, 186, 113)
}

#friend-page {
  background-color: rgb(54, 66, 72);
  margin: 49px 12px 0;
}




/* components */

#profile-page .random-kata button {
  background-color: #ecb613;
  color: #131414;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
  margin: 0;
  padding: 9px 10px 7px;
  border-radius: 4px;
  border: 1px solid #ecb613;
  transition: background-color 0.15s ease-in-out;
}

#profile-page .random-kata button:hover {
  background-color: #b88c08;
}

#profile-page .search-friends button {
  background-color: #628ed6;
  color: #131414;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
  margin: 0;
  padding: 9px 10px 7px;
  border-radius: 4px;
  border: 1px solid#628ed6;
  transition: background-color 0.15s ease-in-out;
}

#profile-page .search-friends button:hover {
  background-color: #486fae;
}

#profile-page .search-friends form .submit {
  padding: 0;
  margin: 0;
}

#profile-page .my-friends button,
#profile-page .my-katas button {
  background-color: #555a63;
  color: rgb(182, 218, 221);
  border: 0;
  cursor: pointer;
  font-size: 8px;
  font-weight: lighter;
  letter-spacing: 0.1vw;
  text-transform: uppercase;
  font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
  margin: 0;
  padding: 5px 7px 5px;
  border-radius: 4px;
  border: 1px solid #555a63;
  transition: background-color 0.15s ease-in-out;
}

#profile-page .my-friends button:hover,
#profile-page .my-katas button:hover {
  background-color: #444850;
}

#kata-card button {
  color: #bb432c;
  border-color: #bb432c;
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
  font-size: 10px;
  font-weight: lighter;
  letter-spacing: 0.1vw;
  font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
  margin: 0;
  padding: 5px 7px 5px;
  border-radius: 4px;
}

#kata-card button+div {
  margin-top: 10px;
}

#kata-page button.test {
  background-color: #71cca2;
  color: #131414;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
  margin: 0;
  padding: 9px 30px 7px;
  border-radius: 4px;
  border: 1px solid #71cca2;
  transition: background-color 0.15s ease-in-out;
}

#kata-page button.test:hover {
  background-color: #3d8d68;
}

#kata-page button.submit {
  background-color: #0d8c55;
  color: #131414;
  border: 0;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  font-family: "Lato","Helvetica Neue","Helvetica",sans-serif;
  margin: 0 20px 0;
  padding: 9px 30px 7px;
  border-radius: 4px;
  border: 1px solid #0d8c55;
  transition: background-color 0.15s ease-in-out;
}

/* button.change-color:hover {
  background-color: #065c37;
} */

p.error-box {
  background-color: #c05c48;
  color: #fff;
  padding: 6px 7px 7px;
  font-size: 12px;
  margin-top: 10px !important;
}

p.success-box-tests {
  color: rgb(95, 186, 113) !important;
  padding: 6px 7px 7px 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.0vw;
  margin-top: 10px !important;
  margin-bottom: 16px;
  letter-spacing: 0.1vw;
}

p.success-box-kata {
  color: rgb(21, 102, 37) !important;
  padding: 6px 7px 7px 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.0vw;
  margin-top: 10px !important;
  margin-bottom: 16px;
  letter-spacing: 0.1vw;
}



















.mobile-forbidden{
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url('https://www.shareicon.net/data/2016/09/21/831311_phone_512x512.png') no-repeat center center;
    background-color: rgb(48,49,51);
    background-size: 0%;
}

@media (max-width:767px){
  .mobile-forbidden{
    z-index: 10000;
    opacity: 1;
    background-size: 48%;
  }
}
@media (max-width:450px){
  .mobile-forbidden{
    z-index: 1000;
    opacity: 1;
    background-size: 70%;
  }
}